.aboutuscontainer{
    display: flex;
    margin-top: 45px;
}

.aboutus{
    width: 100%;    
}

.aboutustitle{
    margin-bottom: 25px;
}


@media screen and (max-width: 768px) {

    .thing{
        display: none;
    }

    .aboutus{
        margin: 0 7vw;
    }

}