{% extends "base.html" %}


{% block title %}Sobre Nosotros - The Big Cinema Theory{% endblock %}

{% block metatags %}
    <meta property="og:title" content="Sobre Nosotros - The Big Cinema Theory">
    <meta property="og:description" content="Conoce al equipo detrás de The Big Cinema Theory. Nuestras pasiones y nuestro compromiso con las críticas de cine.">
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutus.css') }}">
{% endblock %}

{% block content %}
        <section class="aboutuscontainer">
            <aside class="thing leftThing"></aside>
            <article class="aboutus">
                <h1 class="aboutustitle">Sobre nosotros</h1>
                <section class="aboutuscontent">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde sunt officiis ipsa nihil voluptates reiciendis delectus explicabo mollitia eos rem deserunt blanditiis quaerat ea eius doloribus inventore, doloremque ipsam assumenda.
                    Fugiat molestiae eum delectus deleniti? Numquam ipsam repellendus vero voluptatum nostrum distinctio, quaerat velit aspernatur repellat alias fugiat, placeat natus magnam assumenda eos repudiandae debitis maiores cupiditate, nesciunt expedita? Praesentium!
                    Quaerat nostrum voluptate perspiciatis expedita enim nesciunt odit, eaque animi laudantium, eum reprehenderit harum accusantium suscipit sequi! Sit aliquid optio ipsam ad. Fugiat distinctio numquam pariatur, nihil corrupti laboriosam perferendis!
                    Ducimus sapiente incidunt voluptatem adipisci, et pariatur earum soluta, possimus deserunt ullam iure eos rem laudantium, laborum laboriosam blanditiis facilis at ut consequuntur labore distinctio aliquam? Quaerat et sapiente fugit!
                    Non eius labore qui! Consequuntur, recusandae! Ipsum tempora eligendi aliquam consequuntur nisi architecto unde omnis repudiandae, optio, vel rerum iusto quam repellat quo eos fugiat doloremque praesentium ab! Ratione, exercitationem!
                    Iusto quam non rem impedit consequatur ratione sint voluptates explicabo distinctio quos aperiam nesciunt molestiae incidunt optio aliquid suscipit corrupti dolorem voluptatem, sit dignissimos necessitatibus velit soluta ipsa dolorum! Totam!
                    Id et mollitia minima provident tenetur voluptatem. Ipsam ducimus repellendus fugit. Reiciendis voluptatibus obcaecati in veritatis alias deleniti blanditiis ratione ipsum esse, magni harum perferendis aperiam eveniet exercitationem ducimus corporis.
                    Alias, harum! Nobis voluptas rem ab assumenda corporis quam magni provident molestias quae atque vel nulla at, tempora iusto necessitatibus quisquam vitae expedita amet optio minima modi rerum. Neque, nihil?
                    Animi dolorum cupiditate adipisci velit architecto delectus vitae quaerat sit praesentium facilis similique, in ducimus sint eum, sequi molestiae officiis labore blanditiis id totam obcaecati nisi accusantium? Commodi, corrupti magni.
                    Voluptas impedit amet accusantium consequuntur sunt corrupti minus officia vel magnam eveniet reiciendis sequi, recusandae fuga tenetur a voluptatibus. Fugit autem suscipit voluptatibus, vel minus quam sequi similique ipsa fugiat.
                    Eaque sed dolores nam voluptate molestiae delectus cum rerum possimus ullam laudantium reiciendis, officiis omnis commodi tenetur voluptatibus at facilis quisquam ab eligendi natus error, iste repellat fugit? Quis, quia!
                    Quo voluptate odit beatae eius soluta assumenda! Placeat quas nemo et minus, nisi sunt eum, vitae minima laboriosam laudantium quaerat inventore dicta explicabo consequuntur provident qui expedita. Nostrum, dolorum nesciunt.
                    Ullam cumque dolores ex reprehenderit quam saepe voluptas exercitationem, ad similique animi veniam ratione quibusdam optio ipsam eum expedita est laudantium temporibus nisi aliquid fugit possimus tenetur. At, inventore eveniet!
                    Voluptate vitae, rerum adipisci deleniti suscipit esse cupiditate quam aperiam eius sed soluta perferendis animi repudiandae tenetur vero vel id nesciunt accusamus quo numquam voluptatum labore, dignissimos aliquam a. Suscipit.
                    Labore quis suscipit maxime molestiae ex, accusantium sint deleniti nobis, non, consequuntur architecto repudiandae quos esse. Debitis amet dolorem nulla, autem quae, libero temporibus laboriosam assumenda ipsam magni repellat sint.
                </section>
            </article>
            <aside class="thing rightThing"></aside>
        </section>
{% endblock %}
